<div class="centered-list">
   <h1>invoice list</h1>
   <div *ngFor="let invoice of allInvoice" id="invoice">
      <div class="external">
         <label>name </label>
         <div class="internal">{{invoice.user.customerName}}</div>
      </div>
      <div class="external">
         <label>date </label>
         <div class="internal">{{invoice.date}}</div>
      </div>

      <div class="external">
         <label> sum </label>
         <div class="internal">{{invoice.sum}}</div>
      </div>

      <div class="external">
         <label>paymentOptions </label>
         <div class="internal">{{invoice.paymentOptions}}</div>
      </div>

      <div class="external">
         <label>details </label>
         <div class="internal">{{invoice.details}}</div>
      </div>

   </div>

</div>