
<div class="centered-list">
    <h1>expenses list</h1>
    <div *ngFor="let expense of allExpenses" id="expense">
        <div class="external">
            <label>date</label>
            <div class="internal">{{expense.date}}</div>
        </div>
        <div class="external">
            <label>sum</label>
            <div class="internal">{{expense.sum}}</div>
        </div>
        <div class="external">
            <label>payment Optionsdiv</label>
            <div class="internal">{{expense.paymentOptions}}</div>
        </div>
        <div class="external">
            <label>detailsdiv</label>
            <div class="internal">{{expense.detail}}</div>
        </div>
    </div>
</div>