<p>home works!</p>
<!-- <p-tabView>
    <p-tabPanel header="לקוחות">
      <app-customer-list></app-customer-list>
    </p-tabPanel>
    <p-tabPanel header="קבלות">
      hhhhh
    </p-tabPanel>
    <p-tabPanel header="הוצאות">
      hhhh
    </p-tabPanel>
  
  </p-tabView> -->
<div id="nav">
    <a href="/newInvouce">הוספת קבלה</a>
    <a href="/saving expenses">הוספת הוצאה</a>
    <a href="/data segmentation">פילוח נתונים</a>
    <a href="/listInvouce">כל הקבלות</a>
    <a href="/listExpenses">כל ההוצאות</a>
</div>