#nav {
    display: flex;
    justify-content: space-around;
    background-color: #FFCC0F;
    padding: 10px;
    margin-bottom: 20px;
    height: 100px;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #D91C5C;
    font-weight: bold;
    transition: all 0.3s;
}

a:hover {
    color: FFCC0F;
}

a:not(:last-child) {
    margin-right: 20px;
}
