<form #expensesForm="ngForm" (ngSubmit)="addInvoice()">
    <label>invoiceSum</label><br>
    <input type="number" [(ngModel)]="newInvoice.sum" name="sum" required min="0"><br>
    <div *ngIf="newInvoice.sum<0">A number less than zero</div>
    <label>date</label><br>
    <input type="date" [(ngModel)]="newInvoice.date" name="date" required min="{{today | date:'yyyy-MM-dd'}}" (change)="validateDate()"><br>
    <label>paymentOptions </label><br>
    <select [(ngModel)]="newInvoice.paymentOptions" name="paymentOption" required>
        <option value="cash">cash</option>
        <option value="credit">credit</option>
        <option value="bank transfer">bank transfer</option>
    </select><br>
    <label>details</label><br>
    <input type="text" [(ngModel)]="newInvoice.details" name="detail"><br>
    <label>customer</label><br>
    <select [(ngModel)]="thisUserId" name="selectUser" required>
        <option *ngFor="let cust of allcustomers" [value]="cust.custId">
            {{cust.customerName}}
        </option>
    </select>
    <button type="submit" [disabled]="!expensesForm.form.valid">Submit</button>

</form>