<div class="centered">
    <form #expensesForm="ngForm" (ngSubmit)="addExpensees()" id="expense">
        <div class="external">
            <label>expenseSum</label>
            <input type="number" [(ngModel)]="newExpenses.sum" name="sum" required min="0" class="internal">
        </div>
        <div *ngIf="newExpenses.sum<0">A number less than zero</div>
        <div class="external">
            <label>date</label>
            <input type="date" [(ngModel)]="newExpenses.date" name="date" required min="{{today | date:'yyyy-MM-dd' }}"
                (change)="validateDate()" class="internal">
        </div>
        <div class="external">
            <label>paymentOptions</label><br>
            <select [(ngModel)]="newExpenses.paymentOptions" name="paymentOption" required class="internal">
                <option value="cash">cash</option>
                <option value="credit">credit</option>
                <option value="bank transfer">bank transfer</option>
            </select>
        </div>
        <div class="external">
            <label>details</label>
            <input type="text" [(ngModel)]="newExpenses.detail" name="detail" class="internal"><br>
        </div>
        <button type="submit" [disabled]="!expensesForm.form.valid">Submit</button>
    </form>
</div>