<form (submit)="addExpensees()">
<label>expenseSum</label><br>
<input type="number" [(ngModel)]="newExpenses.sum" name="sum"><br>
<label>date</label><br>
<input type="date" [(ngModel)]="newExpenses.date" name="date"><br>
<label>paymentOptions</label><br>
<select  [(ngModel)]="newExpenses.paymentOptions" name="paymentOption">
    <option value="cash">cash</option>
    <option value="credit">credit</option>
    <option value="bank transfer">bank transfer</option>
</select><br>
<label>details</label><br>
<input type="text" [(ngModel)]="newExpenses.detail" name="detail"><br>
<input type="submit" value="save">
</form>